body {
    background: white;
}


.flex {
   height: 400px;
   background-size: cover;
   background-attachment: fixed;
   margin: 0;
   padding: 0;
        }

.product_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.product_desc {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.product_text {
    padding-right: 50px;
}

.errorlist li {
    color: red;
    font-weight: bold;
}

.custom_div {
    margin-bottom: 20px !important;
}

.counter--green {
    background: #00a046;
}

.counter {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(20%,-10%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
}

