{% for product in data %}
	<div class="col-lg-3 col-sm-6 mb-4 product-box">
		<div class="card shadow">
			<div class="p-4">
				<ul class="scale">
					<a href="{{product.get_url}}">
						<img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}">
					</a>
				</ul>
			</div>
			<div class="card-footer d-flex-justify-content-between" style="background: transparent;
	                              border-color: transparent;">
				<p class="font-weight-bold mb-0 text-center">
					{{product.name}}
				</p>
			</div>

			<div class="box-element product">
				<a href="{{product.get_url}}"><button  class="btn btn-outline-secondary add-btn my-2" >Переглянути товар</button></a>
				<a class="btn btn-outline-success" href="{% url 'add_product' product.id %}"><strong>Добавити в кошик</strong></a>
				<h4 style="display: inline-block; float: right">
					{{product.price}} ₴
				</h4>
			</div>
		</div>
	</div>
{% endfor %}