{% extends 'shop/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
    <title>Bars-market</title>
    <section class="slideshow ">
        <div class="slideshow-container">
             <div class="mySlides">
                <img src="{% static 'img/sale6.jpg' %}"/>
             </div>
             <div class="mySlides">
                <img src="{% static 'img/sale2.jpg' %}"/>
             </div>
             <div class="mySlides">
                <img src="{% static 'img/sale5.jpg' %}"/>
             </div>
             <div class="mySlides">
                <img src="{% static 'img/sale1.png' %}"/>
             </div>
        </div>
    </section>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto my-2 text-center">
                    <h1 class="text-capitalize font-weight-bold">Наші продукти</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-5">
    	<div class="col-lg-12">
    		<div class="box-element ">
                <form class="table" method="get" action="{% url 'home' %}">
                    <div class="column is-multiline">

                        <div class="column is-4">
                            <h2 class="is-size-5">Some query</h2>
                            <div class="field">
                                <label>Search term</label>
                                <div class="control">
                                    <input type="text" name="query" class="input" value="{{ query }}">
                                </div>
                            </div>
                        </div>

                        <div class="column is-12">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-danger">Search</button>
                                </div>
                            </div>
                        </div>

                        <div class="column is-4">
                            <h2 class="is-size-5">Price range</h2>
                            <div class="field">
                                <label>From</label>
                                <div class="control">
                                    <input type="number" name="price_from" class="input" value="{{ price_from }}">
                                </div>
                            </div>
                            <div class="field">
                                <label>To</label>
                                <div class="control">
                                    <input type="number" name="price_to" class="input" value="{{ price_to }}">
                                </div>
                            </div>
                        </div>
                         <div class="column is-4">
                            <h2 class="is-size-5">Sorting</h2>
                            <div class="field">
                                <div class="select">
                                    <select name="sorting">
                                        <!-- fix this shit-->
                                        <option value="-date_added"{% if sorting == '-date_added' %} selected {% endif %}>Newest first</option>
                                        <option value="price"{% if sorting == "price" %} selected {% endif %}>Price low-high</option>
                                        <option value="-price"{% if sorting == "-price" %} selected {% endif %}>Price high-low</option>

                                    </select>
                                </div>
                            </div>
                         </div>
                    </div>
	            </form>
    		</div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-9 mx-auto col-md-6 col-lg-3">
                    <div class="card mb-4">
                        <div class="p-4">
                            <ul class="scale">
                                <a href="{{product.get_url}}">
                                    <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}">
                                </a>
                            </ul>
                        </div>
                        <div class="card-footer d-flex-justify-content-between" style="background: transparent;
                                border-color: transparent;">
                            <p class="font-weight-bold mb-0 text-center">
                                {{product.name}}
                            </p>
                        </div>

                        <div class="box-element product">
                            <a href="{{product.get_url}}"><button  class="btn btn-outline-secondary add-btn my-2" >Переглянути товар</button></a>
		                    <a class="btn btn-outline-success" href="{% url 'add_product' product.id %}"><strong>Добавити в кошик</strong></a>
                            <h4 style="display: inline-block; float: right">
                                {{product.price}} ₴
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}