{% extends 'shop/base.html' %}

{% load static %}


{% block title %} Home {% endblock %}

{% block content %}

    <title>Bars-market</title>
    <section class="slideshow ">
        <div class="slideshow-container">
             <div class="mySlides">
                <img src="{% static 'img/sale6.jpg' %}"/>
             </div>
             <div class="mySlides">
                <img src="{% static 'img/sale2.jpg' %}"/>
             </div>
             <div class="mySlides">
                <img src="{% static 'img/sale5.jpg' %}"/>
             </div>
             <div class="mySlides">
                <img src="{% static 'img/sale1.png' %}"/>
             </div>
        </div>
    </section>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto my-2 text-center">
                    <h1 class="text-capitalize font-weight-bold">Наші продукти</h1>
                </div>
            </div>
        </div>
    </div>

<div class="row mx-1">
    <!-- Filters -->
    <div class="col-md-3">
        {% include 'shop/filters.html' %}
    </div>
    <!-- Products -->
    <div class="col-md-9">
        <div class="row" id="filteredProducts">
            <p class="ajaxLoader">Loading...</p>
            {% for product in data %}
                <div class="col-lg-3 col-sm-6 mb-4 product-box">
                    <div class="card shadow">
                        <div class="p-4">
                            <ul class="scale my-1">
                                <a href="{{product.get_url}}">
                                    <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}">
                                </a>
                            </ul>
                        </div>
                        <div class="card-footer d-flex-justify-content-between" style="background: transparent;
                                border-color: transparent;">
                            <p class="font-weight-bold mb-0 text-center">
                                {{product.name}}
                            </p>
                        </div>

                        <div class="box-element product">
                            <a href="{{product.get_url}}"><button  class="btn btn-outline-secondary add-btn my-2" >Переглянути товар</button></a>
		                    <a class="btn btn-outline-success my-1" href="{% url 'add_product' product.id %}"><strong>Добавити в кошик</strong></a>
                            <h4 style="display: inline-block; float: right">
                                {{product.price}} ₴
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p class="my-4 text-center"><button id="loadMore" data-total="{{total_data}}" data-limit="4"
        class="btn btn-dark btn-md">Більше товарів <i class="fas fa-sync-alt"></i></button></p>
    </div>
</div>


{% endblock %}