{% extends 'shop/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
    <title>Bars-market</title>
    <section class="slideshow">
        <div class="slideshow-container slide">
            <img src="{% static 'img/sale3.jpg' %}"/>
            <img src="{% static 'img/sale2.jpg' %}"/>
            <img src="{% static 'img/sale4.jpg' %}"/>
            <img src="{% static 'img/sale.png' %}"/>
        </div>
    </section>
    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto my-2 text-center">
                    <h1 class="text-capitalize font-weight-bold">Наші продукти</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-9 mx-auto col-md-6 col-lg-3">
                    <div class="card mb-4">
                        <div class="p-4">
                            <ul class="scale">
                                <a href="{{product.get_url}}">
                                    <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}">
                                </a>
                            </ul>
                        </div>
                        <div class="card-footer d-flex-justify-content-between" style="background: transparent;
                                border-color: transparent;">
                            <p class="font-weight-bold mb-0 text-center">
                                {{product.name}}
                            </p>
                        </div>

                        <div class="box-element product">
                            <a href="{{product.get_url}}"><button  class="btn btn-outline-secondary add-btn my-2" >Переглянути товар</button></a>
		                    <a class="btn btn-outline-success" href="{% url 'add_product' product.id %}"><strong>Добавити в кошик</strong></a>
                            <h4 style="display: inline-block; float: right">
                                {{product.price}} ₴
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}