{% extends 'shop/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Замовлення {% endblock %}

{% block content %}

    <div>
        <div>
            <br>
            <h1 class="product_title text-center">
                Оформлення замовлення
            </h1>
            <br>
            <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-silver">
                <br>
                <p class="text-center"> Будь-ласка, введіть необхідну інформацію, для підтвердження замовлення</p>
                <div class="features">
                    <form method="post" class="">
                    {% csrf_token %}
                        <br>
                        <p>{{ form.user_name}}</p>
                        <br>
                        <p>{{ form.phone }}</p>
                        <br>
                        <span>{{ error }}</span>
                        <a class="text-center" href="#">
                            <button type="submit" class="btn btn-lg btn-block btn-success px-2">
                            Оформити замовлення
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <br>
            <h1 class="product_title text-center">
                Ваш акаунт було успішно створено
            </h1>
            <br>
            <div>
                <p>
                    Ваш акаунт створено і готовий до використання!
                </p>
                <br>
                <a href="{% url 'home' %}"> На головну сторінку</a>
            </div>
        </div>
    </div>

{% endblock %}