{% extends 'shop/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Замовлення {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6"> <!-- first collum form for user-->
            <div class="box-element" id="form-wrapper">
                <form id="form" class="text-center" method="post">

                    <div id="user-info"> <!-- we take user info to our database -->
                        {% csrf_token %}
                        <hr>
                        <p class="text-center">Контактні дані замовника</p>
                        <hr>
                        <div class="form-field">
                            <label>Прізвище: </label>
                            {{ form.user_name }}
                        </div>
                        <div class="form-field">
                            <label>Email: </label><br>
                            {{ form.email }}
                        </div>
                        <div class="form-field">
                           <label>Номер телефону: </label><br>
                            {{ form.phone }}
                        </div>
                    </div>

                    <div id="shipping-info"> <!-- we take user shipping info to our database -->
                        <hr>
                        <p class="text-center">Адреса доставки</p>
                        <hr>
                        <div class="form-field">
                            {{ form.region }}
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="Вкажіть місто доставки">
                        </div>
                        <div class="form-field">
                            {{ form.shipping }}
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Адреса доставки">
                        </div>
                        <hr>
                        <p class="text-center">Спосіб оплати</p>
                        <hr>
                        <div class="form-field">
                            {{ form.payment }}
                        </div>
                    </div>
                    <hr>
                    <a href="{% url 'successfully_order' pk=post.pk %}"><button class="btn btn-success" type="submit">Продовжити</button></a>
                </form>   
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>
        </div>

        <div class="col-lg-6"> <!-- second collum our product info-->
            <div class="box-element">
                <a class="btn btn-outline-dark"  href="{% url 'home' %}">&#x2190; Продовжити покупки</a>
                <hr>
                <h3 class="text-center">Оформлення Замовлення</h3>
                <hr>
                    {% for cart_item in cart_items %}
                    <div class="cart-row">
                        <div style="flex:1" class="mx-auto">
                        <a href="{{ cart_item.product.get_url }}" >
                            <img src="{{cart_item.product.image.url}}" class="row-image">
                        </a>
                        </div>
                        <div style="flex:2" style="margin-right:10px;" class=""><a href="{{ cart_item.product.get_url }}" class="nav-link text-uppercase font-weight-bold"><p>{{cart_item.product.name}}</p></a></div>
                        <div style="flex:1"><p class=""><strong>{{cart_item.product.price}} ₴</strong></p></div>
                        <div style="flex:1">
                            <p class="quantity">x{{cart_item.quantity}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <h5>Кількість товарів: <strong>{{item_count}}</strong></h5>
                    <h5>Загальна сума товарів: <strong>{{total}} ₴</strong></h5>
            </div>
        </div>
    </div>
{% endblock %}