{% extends 'shop/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Замовлення {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6"> <!-- first collum form for user-->
            <div class="box-element" id="form-wrapper">
                <form id="form" class="text-center"> 
                    <div id="user-info"> <!-- we take user info to our database -->
                        <hr>
                        <p class="text-center">Контактні дані замовника</p>
                        <hr>
                        <div class="form-field">
                           <input required class="form-control" type="text" name="name" placeholder="Прізвище/Ім'я"> 
                        </div>
                        <div class="form-field">
                           <input required class="form-control" type="email" name="email" placeholder="Email"> 
                        </div>
                        <div class="form-field">
                           <input required class="form-control" type="phone" name="phone" placeholder="Номер телефону"> 
                        </div>
                    </div>

                    <div id="shipping-info"> <!-- we take user shipping info to our database -->
                        <hr>
                        <p class="text-center">Адреса доставки</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Область">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="Вкажіть місто доставки">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="post" placeholder="Нова пошта">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Адреса доставки">
                        </div>
                        <hr>
                        <p class="text-center">Спосіб оплати</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="payment" placeholder="Готівка">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="payment" placeholder="На карточку">
                        </div>      
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Продовжити">
                </form>   
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>
        </div>

        <div class="col-lg-6"> <!-- second collum our product info-->
            <div class="box-element">
                <a class="btn btn-outline-dark"  href="{% url 'home' %}">&#x2190; Продовжити покупки</a>
                <hr>
                <h3 class="text-center">Оформлення Замовлення</h3>
                <hr>
                    {% for cart_item in cart_items %}
                    <div class="cart-row">
                        <div style="flex:1" class="mx-auto">
                        <a href="{{ cart_item.product.get_url }}" >
                            <img src="{{cart_item.product.image.url}}" class="row-image">
                        </a>
                        </div>
                        <div style="flex:2" style="margin-right:10px;" class=""><a href="{{ cart_item.product.get_url }}" class="nav-link text-uppercase font-weight-bold"><p>{{cart_item.product.name}}</p></a></div>
                        <div style="flex:1"><p class=""><strong>{{cart_item.product.price}} ₴</strong></p></div>
                        <div style="flex:1">
                            <p class="quantity">x{{cart_item.quantity}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <h5>Кількість товарів: <strong>{{item_count}}</strong></h5>
                    <h5>Загальна сума товарів: <strong>{{total}} ₴</strong></h5>
            </div>

        </div>
    </div>



    <div>
        <div>
            <br>
            <h1 class="product_title text-center">
                Оформлення замовлення
            </h1>
            <br>
            <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-silver">
                <br>
                <p class="text-center"> Будь-ласка, введіть необхідну інформацію, для підтвердження замовлення</p>
                <div class="features">
                    <form method="post" class="">
                    {% csrf_token %}
                        <br>
                        <p>{{ form.user_name}}</p>
                        <br>
                        <p>{{ form.phone }}</p>
                        <br>
                        <span>{{ error }}</span>
                        <a class="text-center" href="#">
                            <button type="submit" class="btn btn-lg btn-block btn-success px-2">
                            Оформити замовлення
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}