{% extends 'shop/base.html' %}

{% load static %}

{% block title %} {{ searched }} {% endblock %}

{% block content %}

    {% if searched %}
    <div class="text-center my-5">
        <h1>Ви шукали: "{{ searched }}"</h1>
        <br>
        <h2>Результат пошуку</h2>
        <br>
    </div>

    <div class="container">
        <div class="row">
            {% for search_name in search_product_name %}
                <div class="col-9 mx-auto col-md-6 col-lg-3">
                    <div class="card mb-4">
                        <div class="p-4">
                            <ul class="scale">
                                <a href="{{search_name.get_url}}">
                                    <img class="card-img-top" src="{{search_name.image.url}}" alt="{{search_name.name}}">
                                </a>
                            </ul>
                        </div>
                        <div class="card-footer d-flex-justify-content-between" style="background: transparent;
                                border-color: transparent;">
                            <p class="font-weight-bold mb-0 text-center">
                                {{search_name}}
                            </p>
                        </div>

                        <div class="box-element product">
                            <a href="{{search_name.get_url}}"><button  class="btn btn-outline-secondary add-btn my-2" >Переглянути товар</button></a>
		                    <a class="btn btn-outline-success" href="{% url 'add_product' search_name.id %}"><strong>Добавити в кошик</strong></a>
                            <h4 style="display: inline-block; float: right">
                                {{search_name.price}} ₴
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h1>Даний товар відсутній...</h1>
    {% endif %}

{% endblock %}