{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Реєстрація {% endblock %}

{% block content %}

    <div>
        {% if not form.is_valid %} <!-- Перевірка чи форма заповнена -->
            <div>
                <br>
                <h1 class="product_title text-center">
                    Рєстрація нового користувача
                </h1>
                <br>
                <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-silver">
                    Будь-ласка, введіть необхідну інформацію, для реєстрації
                    нового користувача

                <form action="post">
                    {% csrf_token %}
                    <p>{{ form }}</p>
                    <button type="button" name="button" class="btn btn-secondary mx-auto d-block">
                        Реєстрація
                    </button>
                </form>
                </div>
            </div>
        {% else %}
        <div class="mx-auto">
            <br>
            <h1 class="product_title text-center">
                Ваш акаунт було успішно створено
            </h1>
            <br>
            <div>
                <p>
                    Ваш акаунт створено і готовий до використання!
                </p>
                <br>
                <a href="{% url 'home' %}"> На головну сторінку</a>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}