{% extends 'shop/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Замовлення {% endblock %}

{% block content %}

    <div>
        <div>
            <br>
            <h1 class="product_title text-center">
                Ви успішно замовили, мої Вітання!
            </h1>
            <br>
            <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-silver">
                <br>
                <p class="text-center"> Будь-ласка, введіть необхідну інформацію, для підтвердження замовлення</p>
                <div class="features">

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}